
@{
    ViewData["Title"] = "Головна сторінка";
}

<h2>Список усіх студентів</h2>


<div id="table">

    <div>
        <label for="themeSearch">Тема роботи:</label>
        <input id="themeSearch" type="text" v-model="searchQuery" />
        <button v-on:click="updateTablePage(pageIndex)">Пошук</button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Група</th>
                <th scope="col">ПІБ студента</th>
                <th scope="col">Тема проекту</th>
                <th scope="col">Оцінка</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="x in tableRows">
                <th>{{ x.groupName }}</th>
                <td><a v-bind:href="'/Students/ViewWork?id=' + x.studentId">{{ x.studentName }}</a></td>
                <td>{{ x.theme }}</td>
                <td>{{ x.mark }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col col-xs-4">
            <button v-on:click="prevPage">Назад</button>
        </div>
        <div class="col col-xs-4 text-center">
            <span>Сторінка {{ pageIndex + 1 }} з {{ pagesCount + 1 }}</span>
        </div>
        <div class="col col-xs-3">
            <button class="pull-right" v-on:click="nextPage">Далі</button>
        </div>
    </div>

</div>

<script src="~/js/indexHome.js"></script>
